<div>
   <br />
   <mat-card>
      <h2>Sign In</h2>
      <mat-divider style="background-color: #673AB7;"></mat-divider>
      <br />
      <div class="content">
         <form [formGroup]="signInForm" class="sign-in">
            <mat-form-field class="header-info">
               <input type="email" matInput placeholder="Email" formControlName="email" size="35" autocomplete="off" email>
            </mat-form-field>
            <br/><br/>

            <mat-form-field class="header-info">
               <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off" required>
               <mat-icon matSuffix (click)="hide = !hide" color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
         </form>
         <br />
         <button type="submit" 
               (click)="signIn()"
               [disabled]="signInForm.pristine || signInForm.invalid"
               mat-flat-button color="primary">Log In</button>
         <button type="submit" 
               (click)="signUp()"
               [disabled]="signInForm.pristine || signInForm.invalid" 
               mat-flat-button color="accent">Sign Up</button>
         <mat-divider style="background-color: #673AB7;"></mat-divider>
      </div>
   </mat-card>
   <mat-toolbar style="background-color: #673AB7; position: absolute; bottom: 0; width: 100%">
      <span style="color: white; margin: 0 auto">Copyright &copy; 2020, The Main Ingredient</span>
   </mat-toolbar>
</div>