<div class="wrapper">
   <br/>
   <mat-card class="mat-card">
      <h2>Review - {{this.recipeTitle}}</h2>
      <h4>Recipe By: {{this.userName.replace('_', ' ')}}</h4>
      <button mat-flat-button color="accent" routerLink="/user-view/{{this.userName}}/{{this.userId}}">Back</button>
      <button type="submit" 
            (click)="saveReview()"
            [disabled]="reviewForm.pristine || reviewForm.invalid" 
            mat-flat-button color="primary">Submit Review</button>
      <br/>
      <br/>
         <mat-divider style="background-color: #673AB7;"></mat-divider>
      <br/>
         <form [formGroup]="reviewForm" class="create-form">
            <h2>Rating Score</h2>
            <p>{{this.reviewForm.get('score').value}}/10</p>
            <mat-slider formControlName="score"
               thumbLabel
               tickInterval="1"
               min="1"
               max="10">
            </mat-slider>
         <br/>
         <br/>
            <mat-divider style="background-color: #673AB7;"></mat-divider>
         <br/>
         <br/>
            <h2>Review</h2>
            <mat-form-field style="width: 100%">
               <textarea type="text" matInput placeholder="Your review here..." formControlName="review" autocomplete="off"></textarea>
            </mat-form-field>
         </form>
   </mat-card>
</div>
