<mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile style="border: 1px solid #FFFFFF;"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <ng-container style="z-index: -1;">
            <img [src]="tile.img"/>
        </ng-container>
        {{tile.text}}
    </mat-grid-tile>
</mat-grid-list>
<footer>
    <mat-toolbar style="background-color: #673AB7;">
        <span>Footer Placeholder</span>
    </mat-toolbar>
</footer>