<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
    </head>
    <body>
        <div class="contact-us">
            <h1>Contact Us</h1>
            <br>
            <br>
            
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" placeholder="Your name.."><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" placeholder="Your email.."><br>
            <label for="Message">Message</label><br>
            <textarea id="message" name="message" placeholder="Write your message.." style="height:100px"></textarea><br>
            <input type="submit" value="Submit">
            <br>
            <br>
            <br>
            
            <p>Direct Contact<p>
        </div>
        <div class="footer">
            <p>Contact number:226-448-4697</p>
            <p> <a href="">
                </a>Email:poojampatel1894@gmail.com</p>
          </div>
        
    </body>
    
</html>





