<div>
   <br/>
   <mat-card class="mat-card">
      <h2>Edit</h2>
      <button mat-flat-button color="accent" routerLink="/list">Back</button>
      <button type="submit" 
            (click)="updateRecipe()"
            [disabled]="updateForm.pristine || updateForm.invalid" 
            mat-flat-button color="primary">Save Recipe</button>
      <button mat-flat-button color="primary" class="add-button" (click)="addStep()">Add Step</button>
      <button mat-flat-button color="primary" class="add-button" (click)="addIngredient()">Add Ingredient</button>
      <br/>
      <br/>
         <mat-divider style="background-color: #673AB7;"></mat-divider>
      <br/>
         <form [formGroup]="updateForm" class="create-form">
            <div class="header-info">
               <input type="text" matInput placeholder="Author" formControlName="author" autocomplete="off">
            </div>
            <div class="header-info">
               <input type="text" matInput placeholder="Recipe Title" formControlName="title" autocomplete="off">
            </div>
            <div class="header-info">
               <mat-select placeholder="Recipe Type" formControlName="type">
                  <mat-option value="Appetizers & Snacks">Appetizers & Snacks</mat-option>
                  <mat-option value="Breakfast & Lunch">Breakfast & Lunch</mat-option>
                  <mat-option value="Desserts">Desserts</mat-option>
                  <mat-option value="Dinner">Dinner</mat-option>
                  <mat-option value="Drinks">Drinks</mat-option>
               </mat-select>
            </div>
         <br/>
         <br/>
            <mat-divider style="background-color: #673AB7;"></mat-divider>
         <br/>
         <br/>
            <section class="mat-typography">
               <h2>Add Ingredients</h2>
            </section> 
            <div formArrayName="ingredients" *ngFor="let ingredient of updateForm.get('ingredients')['controls']; let i = index">
               <div [formGroupName]="i" class="float">
                  <div class="ingredient-info">
                     <mat-form-field class="field-full-width"> 
                        <input type="text" matInput placeholder="{{'Ingredient  '+(i+1)}}" formControlName="ingredient" autocomplete="off"> 
                     </mat-form-field>
                  </div>
                  <div class="ingredient-info">
                     <mat-form-field class="field-full-width"> 
                        <input type="number" matInput placeholder="Amount" formControlName="amount" autocomplete="off">
                     </mat-form-field>
                  </div>
                  <div class="ingredient-info">
                     <mat-select placeholder="Measurement" formControlName="measurement">
                        <mat-option value=" ">N/A</mat-option>
                        <mat-option value="tsp">Teaspoon (tsp)</mat-option>
                        <mat-option value="Tbsp">Tablespoon (Tbsp)</mat-option>
                        <mat-option value="c">Cup (c)</mat-option>
                        <mat-option value="oz">Ounce (oz)</mat-option>
                        <mat-option value="pt">Pint (pt)</mat-option>
                        <mat-option value="qt">Quart (qt)</mat-option>
                        <mat-option value="gal">Gallon (gal)</mat-option>
                        <mat-option value="ltr">Liter (ltr)</mat-option>
                        <mat-option value="ml">Milliliter (ml)</mat-option>
                        <mat-option value="lb">Pound (lb)</mat-option>
                        <mat-option value="g">Gram (g)</mat-option>
                        <mat-option value="kg">Kilogram (kg)</mat-option>
                     </mat-select>
                  </div>
                  <button mat-flat-button color="warn" class="delete-ingredient" (click)="removeIngredient(i)">Delete Ingredient</button>
               </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
    
            <section class="mat-typography">
               <h2>Add Steps</h2>
            </section> 
            <div formArrayName="steps" *ngFor="let step of updateForm.get('steps')['controls']; let i = index">
               <div [formGroupName]="i">
                  <mat-form-field class="field-full-width">
                     <textarea rows="3" matInput class="matInput" placeholder="{{'Step  '+(i+1)}}" formControlName="description"></textarea>
                  </mat-form-field>
                  <button mat-flat-button color="warn" class="delete-step" (click)="removeStep(i)">Delete Step</button>
               </div>
            </div>
         </form>
   </mat-card>
</div>
