<div>
   <br />
   <mat-card>
      <h2>View</h2>
      <button mat-flat-button color="accent" routerLink="/list">Back</button>
      <br/>
      <br/>
      <mat-divider style="background-color: #673AB7;"></mat-divider>

      <section class="mat-typography">
         <h2>Information</h2>
      </section>
      <p>Author: {{recipe.author}}</p>
      <p>Title: {{recipe.title}}</p>
      <p>Type: {{recipe.type}}</p>

      <section class="mat-typography">
         <h2>Ingredients</h2>
      </section>
      <ul>
         <li *ngFor="let ingredient of recipe.ingredients; let i = index">
           {{ingredient.ingredient}} / {{ingredient.amount}}{{ingredient.measurement}}
         </li>
      </ul>
      
      <section class="mat-typography">
         <h2>Steps</h2>
      </section>
      <ol>
         <li *ngFor="let step of recipe.steps; let i = index">
            {{step.description}}
         </li>
      </ol>
   </mat-card>
</div>
