h2 {
   margin-top: 2.5%;
}

.create-form {
   min-width: 150px;
   width: 100%;
}

.field-full-width {
   width: 85%;
   float: left;
}

.step-float {
   margin-bottom: 1%;
}

.float {
   float: left;
}

button {
   margin: 0.5%;
}

.mat-card {
   border-color: #FFFFFF;
   padding-bottom: 2.5%;
   margin-bottom: 5%;
}

.add-button {
   float: right;
}

.delete-ingredient {
   margin-left: 3%;
}

.delete-step {
   margin-top: 3%;
   margin-left: 3.5%;
}

.header-info, .ingredient-info {
   float: left;
   width: 28.5%;
   margin-bottom: 5%;
}

.ingredient-info mat-select {
   margin-top: 5.5%;
}

.mat-expansion-panel {
   border: 0.5px solid #673AB7;
   border-bottom: 0.25px;
}

.mat-expansion-panel:last-child {
   border: 1px solid #673AB7;
}

.mat-expansion-panel.mat-expanded {
  border: 1px solid #FFD740;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
   color:  #673AB7;
}

ul {
   list-style: none;
}

ul li::before {
   content: "\2022";
   color: #673AB7;
   font-weight: bold;
}