.wrapper {
   margin: 0 auto;
   width: 80%;
 }

table {
   width: 100%;
}

.mat-column-right {
   text-align: center;
}

th {
   font-size: 12pt;
   font-weight: bold;
   color: #000000;
}

mat-card {
   border: 1px solid #673ab7;
   margin-bottom: 2.5%;
}

button:hover {
   text-decoration: underline;
   text-decoration-color: #673AB7;
}

.mat-expansion-panel {
   border: 0.5px solid #673AB7;
   border-bottom: 0.25px;
}

.mat-expansion-panel:last-child {
   border: 1px solid #673AB7;
}

input::placeholder{
   color:#000000;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
   color:  #673AB7;
}

::ng-deep .mat-select-placeholder{
   color:#000000;
}